/*@import '~antd/dist/antd.min.css'*/

html,
body {
  min-height: 100%;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}
#root {
  height: 100%;
}


.ant-form-item {
  margin-bottom: 0;
}
.ant-popover {
  z-index: 1300;
}
.service-name {
  padding-left: 45px;
  margin: 11px 14px 15px 7px;
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: 38px;
  display: block;
  width: 175px;
}
.service-name small {
  display: block;
  margin-top: -3px;
  font-weight: normal;
}
.service-buttons {
  padding: 18px 0;
  background: #fff;
}
.service-btn {
  margin-right: 10px;
}
.service-btn:first-child {
  margin-left: 0;
}
.ant-back-top {
  right: auto;
  left: 11px;
}
.service {
  display: flex;
}
.service-left {
  width: 215px;
  padding-right: 5px;
  height: 100%;
}
.service-center {
  transition: all .1s;
}
.service-right {
  width: 100%;
  padding: 0 5px;
}
.service-body {
  display: flex;
}
.service-body > div {
  transition: all .1s;
}
.service-controls {
  position: relative;
  padding-left: 411px;
  min-height: 28px;
}
.ant-table-tbody > tr > td {
  padding: 5px;
  cursor: pointer;
}
.org-card .ant-card-body {
  font-size: 1.1em;
}
.service-bottom {
  position: absolute;
  display: block;
}
.highlight td {
  background-color: #ecf6fd;
}


.navigation-services {
  border-top: 3px solid #108ee9;
}

.navigation-services a img {
  position: absolute;
  bottom: -50px;
}

.navigation-services .img-ursip{
  width: 60px;
  right: 10px;
}

.navigation-services .img-auth{
  width: 44px;
  left: 25px;
  position: absolute;
  bottom: -49px;
  height: 44px;
  background-size: 45px 45px;
  background-image: url("../public/static/img/door_black.png");
  transition: all .4s ease-out;
  opacity: 0.7;
}

.navigation-services .img-auth:hover {
  background-image: url("../public/static/img/door_color.png");
  opacity: 0.9;
}



.navigation-services .img-machine{
  width: 45px;
  left: 110px;
  position: absolute;
  bottom: -50px;
  height: 45px;
  background-size: 45px 45px;
  background-image: url("../public/static/img/machine_balck.png");
  transition: all .4s ease-out;
  opacity: 0.7;
}

.navigation-services .img-machine:hover {
  background-image: url("../public/static/img/machine_color.png");
  opacity: 0.9;
}



.navigation-services .img-mon{
  width: 53px;
  left: 190px;
  position: absolute;
  bottom: -47px;
  height: 45px;
  background-size: 53px 53px;
  background-image: url("../public/static/img/mon_black.png");
  transition: all .4s ease-out;
  opacity: 0.7;
}

.navigation-services .img-mon:hover {
  background-image: url("../public/static/img/mon_color.png");
  opacity: 0.9;
}